body {
    background-color: rgb(226, 255, 255);
}


.cloud1 {
    position: absolute;
    right: 200px;
    top: 0px;
    margin: 50px;
}


.cloud2 {
    position: absolute;
    left: 200px;

}

.mountain {

    text-align: center;
}

.name {
    margin: 180px 0 50px 0;
    text-align: center;

}

h1 {

    font-family: "Sacramento", cursive;
    color: rgb(6, 178, 178);
    font-size: 50px;
}

h2 {
    font-family: "Montserrat", sans-seriff;
    font-size: 25px;
    color: rgb(52, 139, 139);

}

.profile img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}

.profile {
    background-color: rgb(255, 255, 255);
    padding: 150px 0 100px 0;
    text-align: center;
}

.profile div p {
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 200px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;

}




.skill {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding-bottom: 20px;
}

.skill h1{
    margin-top: 0;
}

.table-write{
    text-align: left;

}
.table-write h2{
    margin-top: 0;   
}
.table-tennis{
    display: flex;
    justify-content: center;
}
.table-container{
    display: flex;
    width: 400px;   
}
.table-tennis img {
    width: 200px;
    height: 200px;
}

.web-img {
    width: 200px;
    height: 200px;
}

.web-container {
    display: flex;
    width: 400px;
}
.web-developer{
    display: flex;
    justify-content: center;
    height: 400px;
}
.web-write h2{
    margin-top: 0;
    
}
.web-write{
    text-align: left;
}
.get  p{
    display: inline-block;
    width: 390px;
    margin: 50px;
}
.get{
    margin: 100px;
}
.get h2{
    display: inline-block;
    margin: 50px;
    width: 390px;
}

.container-foot{
    height: 200px;
}
.nav-link:hover{
    background-color: aliceblue;
    
}